version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: books_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: books_database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: books_api
    volumes:
      - .:/app
    ports:
      - "9000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/books_database
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
